/* body{
	background-color: yellow;
} */
img{
	max-width: 100%;
	border-radius: 15%;
}
.wrapper{
	width: 90%;
	margin: 10px auto;
}
/********NAVIGATION STYLING*********/
.iso-nav{
	text-align: center;
}
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid orange;
	cursor: pointer;
/* 	-webkit-transition: all .5s ease;
 */	transition: all .5s ease;


}
ul li:hover{
	background: #5274a9;
	color: #fff;
}
/*******MAIN PORTFOLIO STYLING*******/
.main-iso{
	width: 100%;
}
.main-iso  .item{
	width: 200px;
	height: 255px;
	float: left;
	display: inline-block;
}
.active{
	background: #5274a9;
	color: #fff;

}
.btn{
	margin: 5px;
}
.jumbotron{
	text-align: center;
	font-family: helvecta;
	background-color: gray;
	color: #4FB;
	border-radius: 10px;
}
sss



